<div class="form">
  <%= form_for bio, html: { multipart: true } do |frm| %>
   <div class="dog_details">
    <%= frm.label :name %>
    <%= frm.text_field :name %> <br>
    <%= frm.label :age %>
    <%= frm.number_field :age %> <br>
    <%= frm.label :breed %>
    <%= frm.text_field :breed %> <br>
    <%= frm.label :likes %> 
    <%= frm.text_area :likes, class: "small_area", cols: 30, rows: 5 %> <br>
    <%= frm.label :fears %>
    <%= frm.text_area :fears, class: "small_area", cols: 30, rows: 5 %> <br>
    <%= frm.label :details %>
    <%= frm.text_area :details, cols: 30, rows: 10 %><br>
    <%= label_tag 'dogs_input', 'Choose Images', class: 'button jsonly', id: 'image_chooser' %>
    <%= file_field :bio, :images, multiple: true, id: 'dogs_input' %>
    <%= frm.submit 'Save', id: 'save_button', class: 'button', style: 'float: right' %>
    </div>
    <% if @bio.images %>
      <div class="dog_thumbs" id="loaded_images">
        <ul id="existing_dogs">
          <% @bio.images.each do |img| %>
            <!--<li><%= image_tag img.thumbnail, class: 'thumb', data: {photo_id: img.id}  %></li>-->
            <li>
              <div class="thumb_box">
                <%= image_tag img.thumbnail, class: 'thumb' %>
                <span class='middle-v'><%= check_box_tag 'img_ids[]', img.id %> Delete</span>
              </div>
            </li>
          <% end %>
        </ul>
        <hr class='separator'>
      <% end %>
      <ul id="dogs">
      </ul>
    </div>
  <% end %>
</div>

<script>
  $('#dogs_input').change(function() {
    readPhotos(this);
  });

  $('#save_button').click(function() {
    //<div class="progress"> <%=image_tag '9Tz7jR8TE_small.png' %></div>
    overlay('<%=image_tag '9Tz7jR8TE_small.png', class: 'progress' %>')
  });

  function readPhotos(img) {
    if (img.files && img.files[0]) {
      for (var i = 0; i < img.files.length; i++) {
      $('#dogs').empty();
      var reader = new FileReader();

        reader.onload = function(e) {
          dogbytes = e.target.result;
          $('#dogs').append('<li><img class= "thumb" src="' + e.target.result + '"></li>');
        }
        reader.readAsDataURL(img.files[i])
      }
    }
  }
</script>
