<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= bio.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= bio.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= bio.breed %>
</p>

<p>
  <strong>Likes:</strong>
  <%= bio.likes %>
</p>

<p>
  <strong>Fears:</strong>
  <%= bio.fears %>
</p>

<p>
  <strong>Details:</strong>
  <%= bio.details %>
</p>
