<p id="notice"><%= notice %></p>

<ul class='gallery-list'>
  <% @bios.each do |bio| %>
    <li>
      <div>
        <span class='dog_name'><%= bio.name %></span>
        <br>
        <% if bio.main_image != nil %>
          <%= link_to image_tag(bio.main_image, alt: 'Profile image for ' + bio.name), bio, class: 'dog_link', remote: true %>
        <% else %>
          <%= link_to bio.name, bio, class: 'dog_link', remote: true %>
        <% end %>
        <% if current_user %>
          <br>
          <%= link_to 'Edit', edit_bio_path(bio) %>
          <% if current_user.is_admin %>
            <%= link_to 'Delete', bio, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
    </li>
    <% end %>
</ul>

<br>
<% if current_user %>
  <div class="button">
    <%= link_to 'New Dog', new_bio_path, id: 'new_dog' %>
  </div>
<% end %>
<div class="modal" id="show_dog">
  <div class="modal_header">
    <div class="right close_button">
      <%= link_to 'x', '#', id: 'close'%>
    </div>
  </div>
  <div class="modal_body">
  </div>
  <div class="modal_footer">
  </div>
</div>

<script>
  $(".dog_link").click(function(e) {
    e.preventDefault();
    overlay();
    $("#show_dog").css('display','block');
  });

  $("#close").click(function(e) {
    closeOverlay();
  });
</script>
