<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal_bio.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal_bio.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal_bio.breed %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @animal_bio.likes %>
</p>

<p>
  <strong>Fears:</strong>
  <%= @animal_bio.fears %>
</p>

<p>
  <strong>Details:</strong>
  <%= @animal_bio.details %>
</p>

<%= link_to 'Edit', edit_animal_bio_path(@animal_bio) %> |
<%= link_to 'Back', animal_bios_path %>
