<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @image.path %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @image.comment %>
</p>

<%= link_to 'Edit', edit_photo_path(@image) %> |
<%= link_to 'Back', photos_path %>
