<div class="form">
  <%= form_for @contact do |frm| %>
  <%= frm.label :name %>
  <%= frm.text_field :name %>
  <%= frm.label :email %>
  <%= frm.text_field :email %>
  <%= frm.label :content %>
  <%= frm.text_area :content %>
  <br>
  <%= frm.submit 'Send', id: 'save_button'%>
  <% end %>
</div>
