<!DOCTYPE html>
<html>
  <head>
    <title>DogsOfFranklin</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Taviraj" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag '9Tz7jR8TE.png', alt: 'Pawprint', class: 'logo' %>
      <h1>Dogs Of Franklin, Massachusetts</h1>
      <% if current_user %>
        <ul>
          <li id="current_user"><%= current_user.email %></li>
          <li id="logout"><%= link_to 'Log out', logout_path, method: 'delete' %></li>
        </ul>
      <% end %>
    </header>
    <nav>
      <ul>
        <li><%= link_to 'Home', home_index_path, id: 'home' %></li>
        <li><%= link_to 'About', home_about_path, id: 'about' %></li>
        <li><%= link_to 'Gallery', bios_path, id: 'bios' %></li>
        <li><%= link_to 'Contact', home_contact_path, id: 'contact' %></li>
        <li><%= link_to 'Links', home_links_path, id: 'links' %></li>
    </nav>
    <main>
      <%= yield %>
    </main>
    <script>
      $(document).ready(function() {
        var imagetag = '<%= image_tag '9Tz7jR8TE_small.png', class: 'link_thumb' %>';
        var currenturl = "<%= request.original_url %>";
        if (currenturl === "<%= request.base_url %>/") {
          $("#home").after(imagetag);
        }

        $("nav ul li a").each(function(key, val) {
          if (currenturl.endsWith(val.id) || currenturl.endsWith(val.id + "/")) {
            $(val).after(imagetag);
          }
        });
      });
    </script>
  </body>
</html>
