<!DOCTYPE html>
<html>
  <head>
    <title>DogsOfFranklin</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Taviraj" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag '9Tz7jR8TE.png', alt: 'Pawprint', class: 'logo' %>
      <h1>Dogs Of Franklin, Massachusetts</h1>
    </header>
    <nav>
      <ul>
        <li><%= link_to 'Home', home_index_path %></li>
        <li><%= link_to 'About', home_about_path %></li>
        <li><%= link_to 'Gallery', home_gallery_path %></li>
        <li><%= link_to 'Contact', home_contact_path %></li>
        <li><%= link_to 'Links', home_links_path %></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
